.avatar-container{
  position: relative;
  width: 60px;
  height: 60px;
}

.avatar-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.25s linear;

  &:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }
}

.graphic-account {
  .circle1 {
    fill: var(--theme-elevation-100);
  }

  .circle2, path {
    fill: var(--theme-elevation-300);
  }
}
